.ranking {
  &-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    width: calc(100% - 40px);
    max-width: 1140px;
    margin-top: 120px;

    .heading {
      font-size: 4rem;
    }

  }
}
