.background-wrapper {
  min-height: 100vh;
  background-image: url("@/assets/bgg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
