.authen {
  &-section {
    width: 100%;
    height: 100vh;
    background: url("@/assets/bgg.jpg") no-repeat center center/cover; /* Replace 'your-food-image.jpg' with your image file */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 100px 10px 10px;
  }
  &-icon {
    color: #fff;
    border-radius: 50%;
  }

  &-form {
    background: #202322de;
    color: #fff;
    padding: 10px;

    &__register {
      height: 630px;
      overflow-y: auto;
    }

    &__login {
      height: 470px;
      overflow-y: auto;
    }

    &__forgot-password {
      min-width: 30%;
    }
  }
}
